@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

@theme {
  /* COLORS */
  --color-primary: #53392f; /* button */
  --color-primary-hover: #6b4a3e; /* buttonHover */
  --color-border-light: #e1d9cf; /* line */
  --color-text-default: #333333; /* text */
  --color-text-alt: #fffff0; /* AltText */
  --color-bg-block: #f6f0e8; /* BlockBackground */
  --color-text-title: #1d2020; /* Title | Logo */
  --color-bg-base: #fefbf8; /* Background | Logo */
  --color-border-dark: #290d03; /* dark border */

  /* FONTS */
  --font-playfair: "Playfair Display", serif;
  --font-openSans: "Open Sans", sans-serif;
}

:root {
  color-scheme: light only;
  forced-color-adjust: none !important;
}

body {
  background-color: var(--color-bg-base) !important;
  font-family: var(--font-openSans);
}

html {
  scroll-behavior: smooth;
}

/* Buttons */

@layer components {
  .btn {
    @apply font-openSans inline-block text-lg sm:text-xl md:text-2xl rounded-md border font-normal px-3 py-2 md:px-4 md:py-3 border-border-dark transition-all duration-300 ease-in-out;
  }

  .btn-primary {
    @apply bg-primary text-text-alt;
  }
  .btn-primary:hover {
    @apply bg-primary-hover text-text-alt;
  }
  .btn-primary:active {
    @apply opacity-95;
  }

  .btn-secondary {
    @apply bg-text-title text-text-alt;
  }
  .btn-secondary:hover {
    @apply bg-text-default text-text-alt;
  }
  .btn-secondary:active {
    @apply opacity-95;
  }

  .btn-disabled {
    @apply font-openSans inline-block text-lg sm:text-xl md:text-2xl
      rounded-md border font-normal px-3 py-2 md:px-4 md:py-3 
      border-text-default text-text-default bg-transparent
      cursor-not-allowed pointer-events-none;
  }
}

.title {
  @apply font-playfair font-semibold text-2xl md:text-3xl lg:text-4xl xl:text-5xl text-text-title;
}

.subtitle {
  @apply font-semibold text-xl md:text-2xl lg:text-3xl xl:text-4xl text-text-title;
}
